{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint-config-leapfrog", "eslint-config-react", "eslint-config-react-native", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ]
  }
}
